tickTime=2000
initLimit=10
syncLimit=5
dataDir=/var/lib/zookeeper
clientPort=2181
4lw.commands.whitelist=srvr,ruok,stat
{% for srv in ensemble | sort(attribute='id') %}
server.{{ srv.id }}={{ srv.ip }}:2888:3888
{% endfor %}
